.featured-book{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px
}

/* Featured Book Responsive */
@media only screen and (max-width:576px) {
    .featured-book{
        grid-template-columns: repeat(1,1fr);
    }
}